In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [2]:
anemia = pd.read_csv('anemia.csv')

In [3]:
anemia

      Gender  Hemoglobin   MCH  MCHC   MCV  Result
0          1        14.9  22.7  29.1  83.7       0
1          0        15.9  25.4  28.3  72.0       0
2          0         9.0  21.5  29.6  71.2       1
3          0        14.9  16.0  31.4  87.5       0
4          1        14.7  22.0  28.2  99.5       0
...      ...         ...   ...   ...   ...     ...
1416       0        10.6  25.4  28.2  82.9       1
1417       1        12.1  28.3  30.4  86.9       1
1418       1        13.1  17.7  28.1  80.7       1
1419       0        14.3  16.2  29.5  95.2       0
1420       0        11.8  21.2  28.4  98.1       1

[1421 rows x 6 columns]

In [4]:
anemia.head()

   Gender  Hemoglobin   MCH  MCHC   MCV  Result
0       1        14.9  22.7  29.1  83.7       0
1       0        15.9  25.4  28.3  72.0       0
2       0         9.0  21.5  29.6  71.2       1
3       0        14.9  16.0  31.4  87.5       0
4       1        14.7  22.0  28.2  99.5       0

In [5]:
anemia.shape

(1421, 6)

In [6]:
anemia.describe()

,Gender,Hemoglobin,MCH,MCHC,MCV,Result
count,1421.000000,1421.000000,1421.000000,1421.000000,1421.000000,1421.000000
mean,0.520760,13.412738,22.905630,30.251232,85.523786,0.436312
std,0.499745,1.974546,3.969375,1.400898,9.636701,0.496102
min,0.000000,6.600000,16.000000,27.800000,69.400000,0.000000
25%,0.000000,11.700000,19.400000,29.000000,77.300000,0.000000
50%,1.000000,13.200000,22.700000,30.400000,85.300000,0.000000
75%,1.000000,15.000000,26.200000,31.400000,94.200000,1.000000
max,1.000000,16.900000,30.000000,32.500000,101.600000,1.000000

In [9]:
anemia.groupby('Result' == 1).value_counts()

KeyError: False

In [10]:
count_ones = anemia['Result'].value_counts().get(1, 0)

In [11]:
count_ones

620

In [12]:
anemia.groupby['Result'].mean()

TypeError: 'method' object is not subscriptable

In [13]:
anemia.groupby('Result').mean()

          Gender  Hemoglobin        MCH       MCHC        MCV
Result
0       0.409488   14.795506  23.005743  30.192010  85.698127
1       0.664516   11.626290  22.776290  30.327742  85.298548

In [14]:
X = anemia.drop(columns = 'Result', axis = 1)
Y = anemia['Result']

In [15]:
scaler = StandardScaler()
scaler.fit(X)

StandardScaler()

In [16]:
standardized_data = scaler.transform(X)

In [17]:
X = standardized_data
Y = anemia['Result']

In [18]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify = Y, random_state = 2)

In [19]:
classifier = svm.SVC(kernel = "linear")

In [20]:
classifier.fit(X_train , Y_train)

SVC(kernel='linear')

In [21]:
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [22]:
print("Accuracy Score of the Training Data : ", training_data_accuracy)

Accuracy Score of the Training Data :  0.9911971830985915

In [23]:
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [24]:
print('Accuracy score of the test data: ', test_data_accuracy)

Accuracy score of the test data:  0.9789473684210527

In [26]:
import random
random.seed(42)

# Generate a random number between 1 and 1421 (inclusive)
random_number_between_1_and_1421 = random.randint(1, 1421)

row_data = tuple(anemia.iloc[random_number_between_1_and_1421])

In [27]:
row_data

(0.0, 10.7, 19.4, 29.2, 93.7, 1.0)

In [29]:


# Number to delete from the tuple
number_to_delete = 1.0

# Create a new tuple without the specified number
new_tuple = tuple(element for element in row_data if element != number_to_delete)

print(new_tuple)

(0.0, 10.7, 19.4, 29.2, 93.7)

In [30]:
new_tuple

(0.0, 10.7, 19.4, 29.2, 93.7)

In [31]:
input_data = np.asarray(new_tuple)

In [32]:
input_data_reshaped = input_data.reshape(1, -1)

std_data = scaler.transform(input_data_reshaped)

prediction = classifier.predict(std_data)

/home/sahil/.local/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [33]:
print(prediction)

[1]